.box {
    border: 2px solid lightblue;
    border-radius: 5px;
    margin: 20px auto;
    width: 320px;
  }
  
  td, th {
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 40px;
    width: 60px;
    text-align: center;
    cursor: pointer;
  }
  
  th {
    background-color: lightgreen;
  }
  
  #answer {
    background-color: lightgray;
    color: black;
    font-size: 40px;
  }
  
  td[colspan="2"] {
    background-color: lightgray;
  }
  
  td:last-child {
    background-color: lightcoral;
  }
  
  td:hover, th:hover {
    background-color: lightgray;
  }
  